<h1>Demo#hello</h1>
<p>Hello World!</p>

<%= 1+2 %>
<br />

<% target = "World"%>
<%= "Hello #{target}"%>

<% @array.each do |n| %>
	<%= "#{n}" %>
<% end %>

<br />
Params Passed :: <br />
-> id: <%= @id %> <br />
-> page: <%= @page %> <br />

<a href="/demo/index">Index Page 1</a> <br />
<%= link_to('Index Page 2', {:controller => 'demo', :action => 'index'}) %>

<hr />
<%= params.inspect %>