<h1>Demo#index</h1>
<p>Hello World!</p>

<a href="/demo/hello">Hello Page 1</a> <br />
<%= link_to('Hello Page 2', {:controller => 'demo', :action => 'hello'}) %> <br />

<%= link_to('Hello With Parameters', {:controller => 'demo', :action => 'hello', :page => 5,  :id =>20 }) %>

<br/>
<%= link_to('Roar', '#', :onclick => "jsRoar('Javascript');return true;") %>

<%= javascript_tag("jsRoar('Rails')") %>