<%= error_messages_for(@section) %>

<table summary="Section form fields">
	<tr>
 		<th><%= f.label(:page_id, "Page") %></th>
 		<td>
 			<%= f.select(:page_id, @pages.map {|p| [p.name, p.id]}) %>
		</td>	
 	</tr>
 	<tr>
 		<th><%= f.label(:name, "Name") %></th>
 		<td><%= f.text_field(:name) %></td>
 	</tr>
 	<tr>
 		<th><%= f.label(:position) %></th>
 		<td><%= f.select(:position, 1..@section_count) %></td>
 	</tr>
 	<tr>
 		<th><%= f.label(:visible) %></th>
 		<td><%= f.check_box(:visible) %></td>
 	</tr>
 	<tr>
 		<th><%= f.label(:content_type) %></th>
 		<td>
 			<%= f.radio_button(:content_type, 'text') %> Text
 			<%= f.radio_button(:content_type, 'html') %> HTML

 		</td>
 	</tr>
 	<tr>
 		<th><%= f.label(:content) %></th>
 		<td><%= f.text_area(:content, :size => '40x10')%></td>
 	</tr>
</table>