<%= link_to('<< Back to List', {:action => 'index', :page_id => @page.id}, :class => 'back-link')%>
<div class="section delete">
	<h2> Section Delete </h2>

	<%= form_for(:section, :url => {:action => 'destroy', :id => @section.id, :page_id => @page.id}) do |f| %>
		<p>Are you sure, You want to permanently delete this Section ?</p>

		<p class="reference-name"><%= @section.name %></p>

		<div class="form-buttons">
			<%= submit_tag('Delete Section') %>
		</div>
	<% end %>
</div>