<%= link_to('<< Back to List', {:action => 'index', :page_id => @page.id}, :class => 'back-link')%>

<div class="section show">
	<h2>section Page</h2>

	<table class="section detail view">
		<tr>
			<th>Name</th>
			<td><%= @section.name %></td>
		</tr>
		<tr>
			<th>Position</th>
			<td><%= @section.position %></td>
		</tr>
		<tr>
			<th>Visible?</th>
			<td><%= @section.visible ? 'true' : 'false'%></td>
		</tr>
		<tr>
			<th>Content Tyep</th>
			<td><%= @section.content_type %></td>
		</tr>
		<tr>
			<th>Content</th>
			<td><%= @section.content %></td>
		</tr>
		<tr>
			<th>Created</th>
			<td><%= @section.created_at %></td>
		</tr>
		<tr>
			<th>Updated</th>
			<td><%= @section.updated_at %></td>
		</tr>
	</table>
</div>