<%= error_messages_for(@page) %>
<table summary="Page form fields">
	<tr>
 		<th><%= f.label(:subject_id, "Subject") %> </th>
 		<td>
 			<%= f.select(:subject_id, @subjects.map {|s| [s.name, s.id]}) %>
		</td>
 	</tr>
 	<tr>
 		<th><%= f.label(:name, "Name") %></th>
 		<td><%= f.text_field(:name) %></td>
 	</tr>
 	<tr>
 		<th><%= f.label(:permalink, "Permalink") %></th>
 		<td><%= f.text_field(:permalink) %></td>
 	</tr>
 	<tr>
 		<th><%= f.label(:position) %></th>
 		<td><%= f.select(:position, 1..@page_count) %></td>
 	</tr>
 	<tr>
 		<th><%= f.label(:visible) %></th>
 		<td><%= f.check_box(:visible) %></td>
 	</tr>
</table>