<%= link_to('<< Back to List', {:action => 'index', :subject_id => @subject.id}, :class => 'back-link')%>
<div class="page delete">
	<h2> Page Delete </h2>

	<%= form_for(:page, :url => {:action => 'destroy', :id => @page.id, :subject_id => @subject.id}) do |f| %>
		<p>Are you sure, You want to permanently delete this Page ?</p>

		<p class="reference-name"><%= @page.name %></p>

		<div class="form-buttons">
			<%= submit_tag('Delete Page') %>
		</div>
	<% end %>
</div>