<%= link_to('<< Back to List', {:action => 'index'}, :class => 'back-link')%>
<div class="subject delete">
	<h2> Subject Delete </h2>

	<%= form_for(:subject, :url => {:action => 'destroy', :id => @subject.id}) do |f| %>
		<p>Are you sure, You want to permanently delete this Subject ?</p>

		<p class="reference-name"><%= @subject.name %></p>

		<div class="form-buttons">
			<%= submit_tag('Delete Subject') %>
		</div>
	<% end %>
</div>