<%= link_to('<< Back to List', {:action => 'index'}, :class => 'back-link')%>

<div class="subjects edit">
	<h2> Edit Subject </h2>

	<%= form_for(:subject, :url => {:action => 'update', :id => @subject.id}) do |f| %>
		 
		 <%= render(:partial => "form", :locals => {:f => f}) %>
		 
		 <div class="form-buttons">
		 	<%= submit_tag('Update Subject') %>
		 </div>
	<% end %>
</div>