<% @page_title = "Subjects"%>
<div class="subjects index">
	<h2>Subjects</h2>

	<%= link_to(image_tag('plus-sign.png', :size => '11x11', :alt => '+') + "Add New Subject", {:action => 'new'}, :class => 'action new')%>

	<div><%= pluralize(@subjects.size, 'subject') %> found</div>

	<table class="listing" summary="Subject list">
		<tr class="header">
			<th>&nbsp;</th>
			<th>Subject</th>
			<th>Visible</th>
			<th>Pages</th>
			<th>Actions</th>
		</tr> 
		<% @subjects.each do |subject| %>
		<tr class="<%= cycle('odd', 'even') %>">
			<td><%= subject.position %></td>
			<td><%= subject.name %></td>
			<td class="center"><%= status_tag(subject.visible) %></td>
			<td class="center"><%= subject.pages.size %></td>
			<td class="actions">
				<%= link_to("View Pages", {:controller => 'pages', :subject_id => subject.id}, :class => 'action show')%>
				<%= link_to("Show", {:action => 'show', :id => subject.id}, :class => 'action show')%>
				<%= link_to("Edit", {:action => 'edit', :id => subject.id}, :class => 'action edit')%>
				<%= link_to("Delete", {:action => 'delete', :id => subject.id}, :class => 'action delete')%>
			</td>
		</tr>
		<% end %>
	</table>

</div>