<%= link_to('<< Back to List', {:action => 'index'}, :class => 'back-link')%>

<div class="subjects show">
	<h2>Show Subject</h2>

	<table class="Subject detail view">
		<tr>
			<th>Name</th>
			<td><%= @subject.name %></td>
		</tr>
		<tr>
			<th>Position</th>
			<td><%= @subject.position %></td>
		</tr>
		<tr>
			<th>Visible?</th>
			<td><%= @subject.visible ? 'true' : 'false'%></td>
		</tr>
		<tr>
			<th>Created</th>
			<td><%= @subject.created_at %></td>
		</tr>
		<tr>
			<th>Updated</th>
			<td><%= @subject.updated_at %></td>
		</tr>
	</table>
</div>