<%= link_to('<< Back to List', {:action => 'index'}, :class => 'back-link')%>
<div class="admin_user delete">
	<h2> Delete Admin User ? </h2>

	<%= form_for(:admin_user, :url => {:action => 'destroy', :id => @admin_user.id}) do |f| %>
		<p>Are you sure, You want to permanently delete this Admin User ?</p>

		<p class="reference-name"><%= @admin_user.name %></p>

		<div class="form-buttons">
			<%= submit_tag('Delete User') %>
		</div>
	<% end %>
</div>