<%= link_to('<< Back to List', {:action => 'index'}, :class => 'back-link')%>

<div class="admin_user edit">
	<h2> Edit Subject </h2>

	<%= form_for(:admin_user, :url => {:action => 'update', :id => @admin_user.id}) do |f| %>
		 
		 <%= render(:partial => "form", :locals => {:f => f}) %>
		 
		 <div class="form-buttons">
		 	<%= submit_tag('Update User') %>
		 </div>
	<% end %>
</div>