<% @page_title = "Admin Users"%>
<div class="admin_users index">
	<h2>Admin Users</h2>

	<%= link_to(image_tag('plus-sign.png', :size => '11x11', :alt => '+') + "Add New Admin User", {:action => 'new'}, :class => 'action new')%>

	<div><%= pluralize(@admin_users.size, 'user') %> found</div>

	<table class="listing" summary="AdminUsers list">
		<tr class="header">
			<th>&nbsp;</th>
			<th>Name</th>
			<th>Username</th>
			<th>Email</th>
			<th>Actions</th>
		</tr> 
		<% counter = 0 %>
		<% @admin_users.each do |user| %>
		<tr class="<%= cycle('odd', 'even') %>">
			<td><%= counter += 1 %></td>
			<td><%= user.name %></td>
			<td class="center"><%= user.username %></td>
			<td class="center"><%= user.email %></td>
			<td class="actions">
				<%= link_to("Edit", {:action => 'edit', :id => user.id}, :class => 'action edit')%>
				<%= link_to("Delete", {:action => 'delete', :id => user.id}, :class => 'action delete')%>
			</td>
		</tr>
		<% end %>
	</table>

</div>