<!DOCTYPE html>
<html>
	<head>
	  <title>Simple CMS | <%= @page_title || "Admin" %></title>
	  <%= stylesheet_link_tag('application', :media => 'all') %>
	</head>
	<body>
		<div id="header">
			<h1>Simple CMS Admin</h1>
		</div>
		<div id="main">
			<% if !flash[:notice].blank?%>
				<div class="notice">
					<%= flash[:notice] %>
				</div>
			<% end %>

			<div id="content">
				<!-- before Yield -->
				<%= yield %>
				<!-- after yield -->
			</div>
		</div>
		<div id="footer">
			<p id="copyright">&copy; abc.com Dipak Purbey</p>
		</div>
	</body>
</html>
